@import url('https://fonts.googleapis.com/css2?family=BJ+Cree:wght@400;500;600;700&family=Monsieur+La+Doulaise&display=swap');

.hero {
    height: 350px;
    background-image: url('/cinema-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fffafa;
    padding-top: 53px;
}

.title {
    font-family: 'Monsieur La Doulaise', serif;
    font-size: 200px;
    font-weight: 100;
    line-height: 1.3;
}

.quote {
    font-family: 'BJ Cree', sans-serif;
    font-size: 17px;
    padding-left: 3px;
}