@import url('https://fonts.googleapis.com/css2?family=BJ+Cree:wght@400;500;600;700&family=Monsieur+La+Doulaise&display=swap');

.main {
    padding: 20px 0 0 20px;
    margin: 0 auto;
}

.nav a {
    font-family: 'BJ Cree', sans-serif;
    font-size: 35px;
    text-decoration: none;
    color: #5e0809;
}

.nav {
     padding-top: 20px;
     display: flex;
     justify-content: space-around;
 }

.nav a.active {
    color: #000000;
    position: relative;
    display: inline-flex;
    align-items: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    text-decoration-color: #fdd061 ;
}

.nav a.active::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('/popcorn.svg');
    background-size: contain;
    background-repeat: no-repeat;
}